body {
  margin: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.input {
  background: rgba(0,0,0,0.6) ;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: 10px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.input label {
  margin: 5px;
}

input {
  margin-left: 10px;
  float: right;
}